header{
    
    background-color: #2c3e50;
    
}

#home-header .navbar-brand .navbar-light,
{
  color: white;
  
}
.cs-bg-green{
    background-color: #1abc9c;
}

#jumbotron img{
    max-width: 250px;
}

#jumbotron h1{
    font-size: 50px;
    font-weight: bold;
    padding-top: 10px;
}
p{
    font-size: 20px;
}

.color-footer{
    background-color: #3a546d;
}
.img-wrapper{
    position: relative;
}
.img-wrapper:hover .cs-layover{
    background-color: rgba(26, 188, 156, 0.7);
}
.img-wrapper:hover .cs-layover i.fa-plus{
    display: block;
}
.cs-layover{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    
    
}
.cs-layover i.fa-plus{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 70px;
    color: white;
    display: none;
}
.cs-star-wrapper{
    font-size: 40px;
}
.cs-star-wrapper-cs-dark{
    font-size: 40px;
}
.cs-star-wrapper:before, 
.cs-star-wrapper:after{
    content: '';
    display: inline-block;
    width: 10%;
    height: 4px;
    border-radius: 2px;
    background-color: white;
    vertical-align: middle;
    line-height: 4px;
}

.cs-star-wrapper-cs-dark::before,
.cs-star-wrapper-cs-dark:after{
    content: '';
    display: inline-block;
    width: 15%;
    height: 4px;
    border-radius: 2px;
    background-color:#2c3e50;
    vertical-align: middle;
    line-height: 4px;
}



main{
    color: white;
    text-align: center;
}
#portfolio, #contact{
    color:#2c3e50 ;
}
section{
    padding: 60px 0;
}


#info{
    background-color: #3a546d;
}
.color-footer-2{
    background-color: #2c3e50;
}
.fa-facebook-f{
    width: 50px;
}